<!-- Footer Section Begin -->
<footer class="footer mt-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="footer__copyright__text">
                    <p>Copyright &copy; <script>document.write(new Date().getFullYear()); </script> All rights reserved | by Ilham Fathoni</p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Section End -->

<!-- Search Begin -->
<div class="search-model">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-switch">+</div>
        <form class="search-model-form">
            <input type="text" id="search-input" placeholder="Search here.....">
        </form>
    </div>
</div>
<!-- Search End -->

<!-- Js Plugins -->
<script src="static/js/jquery-3.3.1.min.js"></script>
<script src="static/js/bootstrap.min.js"></script>
<script src="static/js/jquery.magnific-popup.min.js"></script>
<script src="static/js/jquery-ui.min.js"></script>
<script src="static/js/mixitup.min.js"></script>
<script src="static/js/jquery.countdown.min.js"></script>
<script src="static/js/jquery.slicknav.js"></script>
<script src="static/js/owl.carousel.min.js"></script>
<script src="static/js/jquery.nicescroll.min.js"></script>
<script src="static/js/main.js"></script>
</body>

</html>