<!-- Header navbar Section Begin -->
<header class="header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-3 col-lg-2">
                <div class="header__logo">
                    <a href=""><img src="static/img/logo2.png" alt=""></a>
                </div>
            </div>
            <div class="d-flex justify-content-center col-xl-6 col-lg-7">
                <nav class="header__menu">
                    <ul>
                        <li class=""><a href="/">Home</a></li>
                        <li class=""><a href="/brand">Brand</a></li>
                        <li class=""><a href="/category">Category</a></li>
                        <li class=""><a href="/product">Product</a></li>
                        <li class=""><a href="/adm-transaction">Transaction</a></li>
                        <li class=""><a href="/adm-payment">Payment</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="canvas__open">
            <i class="fa fa-bars"></i>
        </div>
    </div>
</header>
<!-- Header navbar Section End -->